/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #3a3a3a; 
	text-align: center;
	background-color: #f2f2f2;
	padding: 0;	
	margin: 0;
}

h1 {
	font-size: 1.5em;
	color: #3a3a3a;		
}
h2,
h3,
a {
	font-size: 1em;
	color: #4c4b4b;
}
h3 {
	font-weight: 400;
	width: 90%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header {
	width: 100%;
	font-weight: 700;
	display: block;
}
		
.main-nav {
	list-style: none;
	padding: 0;
}

.contact-item a {
	font-weight: 700;
	margin-left: 10px;
}

/* ---- Link Styles ---- */	

a {
	text-decoration: none;
}
a:hover {
	color: #a372a3;
}
a:visited {
	color: #504789;
}
	

/* ---- Layout Containers ---- */

.page-section {
	background-color: white;
	padding-top: 30px;
	padding-bottom: 20px;
}

#home {
	background-color: #f2f2f2;
}

#contact {
	display: block;
	padding: 20px auto;
	background-color: #f2f2f2;
}

#skills {
	background-color: #f2f2f2;
}
.skill-list {
	list-style: none;
	padding: 0;
}
.footer-border {
	border-top: .25px solid #bebdc1;
	width: 90%;
	margin: auto;
	padding-bottom: 10px;

}
/* ---- Page Elements ---- */

.portfolio-item img {
	box-shadow: 4px 4px 20px #767677;
	border-radius: 5px;
	margin-bottom: 10px;
}

.portfolio-item {
	padding-bottom: 20px;
}
/* ================================= 
	Media Queries
==================================== */

@media (max-width: 320px) {
	.main-header {
		display: block
		text-align: center;
	}

	.profile-pic {
		width: 70%;
		margin: 0 auto;
	}

	.profile-info {
		width: 90%;
		text-align: center;
		margin: 10px auto 20px auto;

	}
	.page-section {
		width: 100%;
	}

	.portfolio-item {
		width: 90%;
		margin: 0 auto;
	}

	.portfolio-item img {
		width: 100%;
	}
	.footer {
		margin-top: 30px 30px;

	}
	.footer .main-nav {
		display: none;	
	}
	
	.footer .student-name {
		font-size: .75em;
		text-align: left;
		float: left;
		margin-left: 1em;
		padding-bottom: 10px;
	}
	#top {
		text-align: right;
		font-size: .75em;
		float: right;
		margin-right: 1em;
	}
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}